@import url('./vars.css');

@font-face {
  font-family: 'Barlow Bold';
  src: url('/fonts/BarlowSemiCondensed-Bold.ttf');
}

:root {
  font-family: 'Barlow Bold';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--gray-text);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  background-image: var(--background-gradient);
}
button {
  border: var(--header-border) 3px solid;
  border-radius: 8px;
  min-width: 120px;
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  font-family: 'Barlow Bold';
  cursor: pointer;
}
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}


.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.game-header {
  display: flex;
  justify-content: space-between;
  border: var(--header-border) 4px solid;
  border-radius: 20px;
  height: 100px;
  width: 600px;
  margin: 6vh 0;
  padding: 16px 20px;
}
.game-title {
  width: 420px;
  color: white;
  font-size: 2.4em;
  line-height: .8em;
  padding: 4px 8px;
  word-spacing: 420px;
}
.game-score {
  height: 100%;
  width: 130px;
  background-color: white;
  color: var(--blue-text);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: .9em;
  letter-spacing: .2em;
}
#score {
  display: inline-block;
  line-height: .9em;
  font-size: 3.6em;
  letter-spacing: 0;
  color: var(--gray-text);
  overflow: hidden;
  max-width: 88px;
}
.game-board {
  display: flex;
  justify-content: space-around;
}

.game-footer {
  display: flex;
  justify-content: flex-end;
  padding: 24px 32px;
}

.round {
  position: relative;
  display: flex;
  width: 16vw;
  height: 16vw;
  margin: 16px;
  border-radius: 120px;
}
.round p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 120px;
  background: white;
  box-shadow: inset 0px 12px rgb(225, 225, 225);
  font-weight: var(--weight-heavier);
}

.round:hover {
  margin-top: calc(16+12px)
}

.rock {
  background-image: var(--rock-gradient);
  box-shadow: 0px 8px var(--rock-shadow-color);
}
.paper {
  background-image: var(--paper-gradient);
  box-shadow: 0px 8px var(--paper-shadow-color);
}
.scissors {
  background-image: var(--scissors-gradient);
  box-shadow: 0px 8px var(--scissors-shadow-color);
}
.lizard {
  background-image: var(--lizard-gradient);
  box-shadow: 0px 8px var(--lizard-shadow-color);
}
.spock {
  background-image: var(--spock-gradient);
  box-shadow: 0px 8px var(--spock-shadow-color);
}


/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
